


.homepage{
    padding-top: 18rem;
    color: aliceblue;
    height: 95%;
    width: 100%;
    background: navy;
    text-align: center;
}

.welcome-message{
    text-align: center
}

.reservation-list{
    text-align: center
}

.time{
    float: right;
    text-align: right
}

.form-inline{
    display: inline;
}

.location{
    font-weight: bold;
    color: gold
}